body {
    padding-bottom: 20px;
    padding-top: 20px;
}

.container {
    width: 1290px;
}

.header {
    padding-right: 15px;
}

.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
}

.global-header {
    background-color: #009dd7;
    color: #fafcfe;
    height: 60px;
    top: 0;
    width: 100%;
    margin-top: -20px;
}

.web-logo {
    background-image: url("/static/Web_Logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    width: 126px;
    margin-top: 8px;
    margin-left: 8px;
}

.choose {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}

.choose a {
    color: #efefef;
}

.choose > .nav > li > a:hover {
    background-color: #00beff;
}

.news_content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.news_content h3 {
    margin-top: 0;
    clear: both;
}

.title {
    color: #fff;
    font-size: 16px;
    margin-top: -50px;
    margin-bottom: 0;
    padding: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    height: 50px;
    width: 300px;
}

.col-md-3 {
    padding: 0 15px 15px 0;
}

nav {
    clear: both;
}

.paginate {
    text-align: center;
    clear: both;
}

.footer {
    color: #cccccc;
    margin: 10px auto;
    text-align: center;
}

.footer a {
    color: #cccccc;
    text-decoration: none;
}

.footer a:hover {
    color: #888888;
    text-decoration: underline;
}

.stroll-list ul {
  position: relative;
  width: 230px;
  height: 480px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}

.stroll-list ul li {
  position: relative;
  padding: 16px;
  background: #eee;
  color: #252525;
  font-size: 18px;
  z-index: 2;
  -webkit-transform: translateZ(0px);
     -moz-transform: translateZ(0px);
      -ms-transform: translateZ(0px);
       -o-transform: translateZ(0px);
          transform: translateZ(0px);
}

.stroll-list ul li:nth-child(odd) {
  background: #fff;
}
