{% from 'macros.html' import nav_link with context %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Zhihu Daily</title>
    {% block head %}
    <link rel=stylesheet type=text/css href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/zhihudaily.css') }}">
    {% endblock %}
  </head>
  <div class="global-header">
    <div class="main-wrap">
      <a title="知乎日报" target="_self" href="/">
        <i class="web-logo"></i>
      </a>
      <div class="choose">
        <ul class="nav nav-pills">
          {{ nav_link('text_ui.index', '文字 UI') }}
{#          {{ nav_link('with_image', '图片 UI') }}#}
{#          {{ nav_link('pages', '分页 UI') }}#}
{#          {{ nav_link('three_columns', '三栏 UI') }}#}
{#          {{ nav_link('generate_feed', 'Feeds') }}#}
        </ul>
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
  <div class="footer">
    <p>With love made by lord63. Fork me on <a href="https://github.com/lord63/zhihudaily">github</a>.</p>
  </div>
</html>


