{% extends "base.html" %}
{% block body %}
<div class="container">
  <h4 class="text-center">{{ display_date }}</h4>
  {% for item in lists %}
    <a href={{ item['share_url'] }}>{{ item['title'] }}</a>
  {% endfor %}
  <nav>
    <ul class="nav nav-pills pull-left">
      <li role="presentation">
        <a href="{{ url_for('text_ui.before', date=date, image=False) }}"><<< Previous</a>
      </li>
    </ul>
    {% if not is_today %}
    <ul class="nav nav-pills pull-right">
      <li role="presentation">
        <a href="{{ url_for('text_ui.before', date=day_after, image=False) }}">Next >>></a>
      </li>
    </ul>
    {% endif %}
  </nav>
</div>
{% endblock %}
