body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 730px;
}

.header {
  padding-right: 15px;
  padding-legt: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
