{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="stroll-list">
  <div class="col-md-2">
    <ul class="wave three-column-day">
      {% for i in range(16) %}
      <li><a href="/three-columns/{{ today - i }}" class="days">{{ today - i }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-4">
      <ul class="three-column-title"></ul>
  </div>
  </div>

  <div class="col-md-6">
    <div class="three-column-content"><div></div></div>
  </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/stroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/zhihudaily.js')  }}"></script>
{% endblock %}
