{% extends "base.html" %}
{% block body %}
<div class="container stroll-list">

  <div class="col-md-3">
    <ul class="wave three-column-day">
      {% for i in range(10) %}
      <li><a href="/three-columns/{{ today - i }}">{{ today - i }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-3">
      <ul class="wave three-column-title">
      </ul>
  </div>

  <div class="col-md-6">
      <ul class="wave">
      <li>one</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
      <li>Six</li>
      <li>Seven</li>
      <li>Eight</li>
      <li>Nine</li>
      <li>Ten</li>
      <li>Eleven</li>
      <li>Twelve</li>
      <li>Thirteen</li>
      <li>Fourteen</li>
      <li>Fifteen</li>
      <li>Sixteen</li>
      </ul>
  </div>

</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/zhihudaily.js')  }}"></script>
<script src="{{ url_for('static', filename='js/stroll.min.js') }}"></script>
<script>stroll.bind( '.stroll-list ul' );</script>
{% endblock %}
